<template>
  <b-container class="header" fluid>
    <b-row>
      <b-col>
        <img class="logo" src="../assets/Caja-Valladolid.png" alt="logo" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
</script>

<style>
.logo {
  width: auto;
  height: 128px;
}

.header {
  background-color: #046212;
}
</style>
