<template>
  <div>
    <!-- Etiqueta del componente header -->
    <Header />
    <!-- Contenido de la pagina -->
    <b-container class="main" fluid>
      <!-- tabla de usuarios y sus acciones -->
      <b-table striped :fields="fields" :items="items">
        <!-- etiqueta para acciones -->
        <template #cell(acciones)="row">
          <!-- Boton para ver detalles y cuentas del cliente -->
          <div key="row.item.id_cliente">
            <b-button
              v-b-modal.modal-details-edit
              variant="success"
              size="sm"
              @click="
                (editClient = false),
                  (modal_title = 'Detalles del Cliente'),
                  (modal_button = 'Cerrar'),
                  getClientAccounts(row.item.id_cliente),
                  (idClient = row.item.id_cliente)
              "
              class="mr-2"
            >
              <div style="font-size: 20px">
                <b-icon icon="eye" class="bg-success" variant="light"></b-icon>
              </div>
            </b-button>
            <!-- Boton para editar al cliente -->
            <b-button
              v-b-modal.modal-details-edit
              variant="warning"
              size="sm"
              @click="
                (editClient = true),
                  (modal_title = 'Actualizar Datos del Cliente'),
                  (modal_button = 'Aceptar'),
                  getClientDetails(row.item.id_cliente),
                  (idClient = row.item.id_cliente)
              "
              class="mr-2"
            >
              <div style="font-size: 20px">
                <b-icon
                  icon="pencil"
                  class="bg-warning"
                  variant="light"
                ></b-icon>
              </div>
            </b-button>
            <!-- Boton para eliminar al cliente -->
            <b-button
              v-b-modal.modal-delete
              variant="danger"
              size="sm"
              @click="idClient = row.item.id_cliente"
              class="mr-2"
            >
              <div style="font-size: 20px">
                <b-icon icon="trash" class="bg-danger" variant="light"></b-icon>
              </div>
            </b-button>
          </div>
        </template>
      </b-table>
      <!-- Modal para confirmar eliminacion del cliente -->
      <b-modal
        ok-variant="danger"
        ok-title="Eliminar"
        cancel-title="Cancelar"
        id="modal-delete"
        ref="modal"
        title="Eliminar"
        @ok="handleOkdelete"
      >
        <p>¿Desea eliminar al cliente y sus cuentas?</p>
      </b-modal>
      <!-- Modal para detalles y edicion del cliente  -->
      <b-modal
        ok-variant="warning"
        :ok-title="modal_button"
        cancel-title="Cancelar"
        id="modal-details-edit"
        ref="modal"
        :title="modal_title"
        @show="resetModal"
        @hidden="resetModal"
        @ok="handleOk"
      >
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <!-- Input name -->
          <b-form-group
            label="Nombre"
            label-for="name-input"
            invalid-feedback="El nombre es requerido"
            :state="clientDetails.nombreStatus"
          >
            <b-form-input
              id="name-input"
              v-model="clientDetails.name"
              :state="clientDetails.nameStatus"
              required
              :readonly="!editClient"
            ></b-form-input>
          </b-form-group>
          <!-- Input apellido paterno -->
          <b-form-group
            label="Apellido Paterno"
            label-for="apP-input"
            invalid-feedback="El apellido Paterno es requerido"
            :state="clientDetails.lastnameStatus"
          >
            <b-form-input
              id="apP-input"
              v-model="clientDetails.lastname"
              :state="clientDetails.lastnameStatus"
              required
              :readonly="!editClient"
            ></b-form-input>
          </b-form-group>
          <!-- input apellido materno -->
          <b-form-group
            label="Apellido Materno"
            label-for="apM-input"
            invalid-feedback="El Apellido Materno es requerido"
            :state="clientDetails.lastname2Status"
          >
            <b-form-input
              id="apM-input"
              v-model="clientDetails.lastname2"
              :state="clientDetails.lastname2Status"
              required
              :readonly="!editClient"
            ></b-form-input>
          </b-form-group>
          <!-- input rfc -->
          <b-form-group
            label="RFC"
            label-for="rfc-input"
            invalid-feedback="El rfc es requerido"
            :state="clientDetails.rfcStatus"
          >
            <b-form-input
              id="rfc-input"
              v-model="clientDetails.rfc"
              :state="clientDetails.rfcStatus"
              required
              :readonly="!editClient"
            ></b-form-input>
          </b-form-group>
          <!-- input curp -->
          <b-form-group
            label="CURP"
            label-for="curp-input"
            invalid-feedback="La CURP es requerida"
            :state="clientDetails.curpStatus"
          >
            <b-form-input
              id="curp-input"
              v-model="clientDetails.curp"
              :state="clientDetails.curpStatus"
              required
              :readonly="!editClient"
            ></b-form-input>
          </b-form-group>
          <!-- Etiqueta con condicion para campos de detalle de cuenta -->
          <div v-if="!editClient">
            <!-- input saldo -->
            <b-form-group label="Saldo Actual" label-for="saldo-input">
              <b-form-input
                id="saldo-input"
                v-model="clientDetails.saldo_actual"
                :readonly="!editClient"
              ></b-form-input>
            </b-form-group>
            <!-- input fecha contratacion -->
            <b-form-group
              label="Fecha de Contratacion"
              label-for="contratacion-input"
            >
              <b-form-input
                id="contratacion-input"
                v-model="clientDetails.fecha_contratacion"
                :readonly="!editClient"
              ></b-form-input>
            </b-form-group>
            <!-- input fecha ultimo movimiento -->
            <b-form-group
              label="Fecha de Ultimo Movimiento"
              label-for="movimiento-input"
            >
              <b-form-input
                id="movimiento-input"
                v-model="clientDetails.fecha_ultimo_movimiento"
                :readonly="!editClient"
              ></b-form-input>
            </b-form-group>
            <!-- input nombre cuenta-->
            <b-form-group label="Nombre Cuenta" label-for="cuenta-input">
              <b-form-input
                id="cuenta-input"
                v-model="clientDetails.nombre_cuenta"
                :readonly="!editClient"
              ></b-form-input>
            </b-form-group>
          </div>
        </form>
      </b-modal>
    </b-container>
    <!-- Etiqueta de componente Footer -->
    <Footer />
  </div>
</template>

<script>
// Libreria para manejo de fechas
const moment = require("moment");
// Importacion de componentes
import Header from "./components/header.vue";
import Footer from "./components/footer_app.vue";

export default {
  data() {
    return {
      fields: [
        { key: "id_cliente", label: "Id" },
        { key: "nombre", label: "Nombre" },
        { key: "apellido_paterno", label: "Apellido Paterno" },
        { key: "apellido_materno", label: "Apellido Materno" },
        { key: "rfc", label: "RFC" },
        { key: "curp", label: "CURP" },
        {
          key: "fecha_alta",
          label: "Fecha de Ingreso",
          formatter: (value) => {
            return moment(value).format("YYYY-MM-DD");
          },
        },
        "Acciones",
      ],
      items: [],
      idClient: null,
      editClient: true,
      clientDetails: [
        {
          clientId: null,
          name: "",
          nameStatus: null,
          lastname: "",
          lastnameStatus: null,
          lastname2: "",
          lastname2Status: null,
          rfc: "",
          rfcStatus: null,
          curp: "",
          curpStatus: null,
          saldo_actual: null,
          fecha_contratacion: null,
          fecha_ultimo_movimiento: null,
          nombre_cuenta: null,
        },
      ],
      modal_title: "",
      modal_button: "",
    };
  },
  components: {
    Header: Header,
    Footer: Footer,
  },
  beforeMount() {
    this.getAllClients();
  },
  methods: {
    // Listar todos clientes
    async getAllClients() {
      try {
        const response = await fetch("http://localhost:4000/clients", {
          method: "GET",
        });
        this.items = await response.json();
      } catch (err) {
        console.log(err);
      }
    },
    /*
     * Detalles de un cliente especifico
     * @params{number} id identificador del cliente
     */
    async getClientDetails(id) {
      try {
        const response = await fetch("http://localhost:4000/clients/" + id, {
          method: "GET",
        });
        const client = await response.json();
        this.clientDetails = {
          ...this.clientDetails,
          clientId: client[0].id_cliente,
          name: client[0].nombre,
          lastname: client[0].apellido_paterno,
          lastname2: client[0].apellido_materno,
          rfc: client[0].rfc,
          curp: client[0].curp,
        };
      } catch (err) {
        console.log(err);
      }
    },
    /*
     * Detalles y cuentas de un cliente especifico
     * @params{number} id identificador del cliente
     */
    async getClientAccounts(id) {
      try {
        const response = await fetch("http://localhost:4000/accounts/" + id, {
          method: "GET",
        });
        const client = await response.json();
        this.clientDetails = {
          ...this.clientDetails,
          clientId: client[0].id_cliente,
          name: client[0].nombre,
          lastname: client[0].apellido_paterno,
          lastname2: client[0].apellido_materno,
          rfc: client[0].rfc,
          curp: client[0].curp,
          saldo_actual: client[0].saldo_actual,
          fecha_contratacion: moment(client[0].fecha_contratacion).format(
            "YYYY-MM-DD"
          ),
          fecha_ultimo_movimiento: moment(
            client[0].fecha_ultimo_movimiento
          ).format("YYYY-MM-DD"),
          nombre_cuenta: client[0].nombre_cuenta,
        };
      } catch (err) {
        console.log(err);
      }
    },
    /*
     * Elminiacion de cliente y sus cuentas
     * @params{number} id identificador del cliente
     */
    async deleteClient(id) {
      try {
        const response = await fetch("http://localhost:4000/delete/" + id, {
          method: "DELETE",
        });
        const result = await response.json();
        if (result.succes) {
          this.getAllClients();
        }
      } catch (err) {
        console.log(err);
      }
    },
    /*
     * Actualizacion de detalles de un cliente
     * @params{number} id identificador del cliente
     * @params{string} name Nombre del cliente
     * @params{string} lastname apellido paterno del cliente
     * @params{string} lastname2 apellido materno del cliente
     * @params{string} rfc RFC del cliente
     * @params{string} curp Curp del cliente
     */
    async updateClient(id, name, lastname, lastname2, rfc, curp) {
      try {
        const body = {
          name: name,
          lastname: lastname,
          lastname2: lastname2,
          rfc: rfc,
          curp: curp,
        };
        const response = await fetch("http://localhost:4000/edit/" + id, {
          method: "PATCH",
          headers: {
            "content-type": "application/JSON",
          },
          body: JSON.stringify(body),
        });
        const result = await response.json();
        if (result.succes) {
          this.getAllClients();
        }
      } catch (err) {
        console.log(err);
      }
    },
    // Llama al evento eliminar cliente
    handleOkdelete(event) {
      // Prevent modal from closing
      event.preventDefault();
      this.deleteClient(this.idClient);
      this.$nextTick(() => {
        this.$bvModal.hide("modal-delete");
      });
    },
    // Limpiar modal
    resetModal() {
      this.clientDetails = {
        clientId: null,
        name: "",
        nameStatus: null,
        lastname: "",
        lastnameStatus: null,
        lastname2: "",
        lastname2Status: null,
        rfc: "",
        rfcStatus: null,
        curp: "",
        curpStatus: null,
        saldo_actual: null,
        fecha_contratacion: null,
        fecha_ultimo_movimiento: null,
        nombre_cuenta: null,
      };
    },
    // Validacion de formulario
    validateForm() {
      const validation = this.$refs.form.checkValidity();
      this.clientDetails.nameStatus =
        this.clientDetails.name != 0 ? true : false;
      this.clientDetails.lastnameStatus =
        this.clientDetails.lastname != 0 ? true : false;
      this.clientDetails.lastname2Status =
        this.clientDetails.lastname2 != 0 ? true : false;
      this.clientDetails.rfcStatus = this.clientDetails.rfc != 0 ? true : false;
      this.clientDetails.curpStatus =
        this.clientDetails.curp != 0 ? true : false;
      return validation;
    },
    // Llama al evento submit(actualizar datos del cliente)
    handleOk(event) {
      // Prevent modal from closing
      event.preventDefault();
      this.submit();
    },
    // Envento de validacion del formulario y actualizacion de datos
    submit() {
      if (!this.editClient) {
        this.$nextTick(() => {
          this.$bvModal.hide("modal-details-edit");
        });
      } else {
        if (!this.validateForm()) {
          return;
        }
        this.updateClient(
          this.clientDetails.clientId,
          this.clientDetails.name,
          this.clientDetails.lastname,
          this.clientDetails.lastname2,
          this.clientDetails.rfc,
          this.clientDetails.curp
        );
        this.$nextTick(() => {
          this.$bvModal.hide("modal-details-edit");
        });
      }
    },
  },
};
</script>

<style>
.main {
  min-height: calc(100vh - 192px);
}
</style>
